body{
    background-image: url(restaurant%20image.png);
}
div.container-fluid{
   background-color:skyblue;
   width:100%;
}
span{
    color: white;
}
#header-nav{
   border-radius:0;
   margin: auto;
}
a.navbar-brand{
color:white;
}
#main-content{
    height: 1000px;
}
p{
    color: white;
}
#button{
    color:green;
    background color:blue;
}